.nav_outer_container{
    text-align: center;
padding-top: 9px;

}

.nav_container{
    justify-content: space-between;
    text-align: end;
}
.link{
/* color: black; */
color: white;


}
.link:hover{
    
color: white;
}
.nav_left{
    padding-left: 2px;

}
.nav_right link{
    margin-right: 0px;
    padding: 0px;
}
 .dropdown_container{
display: none;
}

 @media (max-width: 1059px) {
 .dropdown_container {
   display: block;
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.nav_outer_container{
    display: none;
}
div.dropdown-menu.show{
    background-color: transparent;
}



  }

